{% extends "_main.html" %}
{% block content %}

<table>
    <tr>
      <th>Nombre</th>
      <th>Provincia</th>
      <th>Comunidad Autónoma</th>
      <th>Capacidad (hm<sup>3</sup>)</th>
    </tr>
    {% for embalse in embalses %}
    <tr>
        <td><a href="/embalse/{{embalse["id"]}}">{{embalse["nombre"]}}</a></th>
        <td>{{embalse["provincia"]}}</a></th>
        <td>{{embalse["comunidad_autonoma"]}}</a></th>
        <td>{{embalse["agua_total"]}}</td>
    </tr>
    {% endfor %}

  </table> 

{% endblock %}